product_lab     :CCX2F3298
video_name      :CCX2F3298
sensor_name     :gc2083
i2c_addr        :0x37
fps_num         :30
width           :1920
height          :1080
h264_en         :1
speak_en        :0
speak_volume    :070
bitrate         :4000
rcmode          :cbr
audio_en        :0
uvc_led         :37
hvflip          :0
qp_value        :50
gop             :60
stillcap_en     :1
adb_en          :0
nframes         :6
{1920, 1080}
{1280, 960}
{1280, 720}
{800,  600}
{640,  480}
{640,  360}
